<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="org.gaeproxy" android:versionName="0.12.6"
	android:versionCode="76">
	<uses-sdk android:minSdkVersion="4" />
	<uses-permission android:name="android.permission.INTERNET"></uses-permission>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.VIBRATE" />


	<application android:icon="@drawable/icon" android:label="@string/app_name">
		<activity android:name=".GAEProxy" android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name="com.google.ads.AdActivity"
			android:configChanges="keyboard|keyboardHidden|orientation" />
		<activity android:name=".AppManager" android:label="@string/app_name" />
		<service android:enabled="true" android:name=".GAEProxyService" />
		<receiver android:name=".GAEProxyReceiver">
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED" />
			</intent-filter>
		</receiver>
		<receiver android:name=".GAEProxyWidgetProvider">
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
				<action android:name="org.gaeproxy.GAEProxyWidgetProvider.PROXY_SWITCH_ACTION" />
			</intent-filter>
			<meta-data android:name="android.appwidget.provider"
				android:resource="@xml/gaeproxy_appwidget_provider" />
		</receiver>
	</application>
</manifest>