<settings>
  <profiles>
    <profile>
      <activation>
        <activeByDefault>true</activeByDefault>
      </activation>
      <properties>
        <sign.keystore>/tmp/travis.keystore</sign.keystore>
        <sign.alias>gaeproxy</sign.alias>
        <sign.keypass>gaeproxy</sign.keypass>
        <sign.storepass>gaeproxy</sign.storepass>
      </properties>
    </profile>
  </profiles>
</settings>
