body { font-family: "Helvetica-Bold",Helvetica,Geneva,Arial,sans-serif; margin: 0 0 1em 0; padding: 0; background-image: url("linef.png"); }
#main { margin: 0; padding: 0; }
a:link, a:visited { color: #333333; text-decoration: none; }
input[type="text"] { margin: 0.5em 0 0.5em 0.5em; width: 70%; border: 1px solid #e3e3e3; }
input[type="submit"] { background-color: #f5f5f5; border: 1px solid #e3e3e3; }
#title { margin: 0 0 0 0; padding-top: 10px; height: 27px; background-color: #f5f5f5; color: #4b4b4b; border-bottom: 1px solid #b1b1b1; font-size: larger; font-weight: bold; text-align: center; }
.box-title { margin: 1em 1em 0 1em; padding: 0; background-color: #ffffff; color: #333333; border: 1px solid #b1b1b1; border-radius: 8px 8px 0 0; }
.box-title p { margin: 0.25em 0; }
.box-title a { margin: 0 0.5em; width: 18px; height: 14px; background-color: #eeeeee; border: 1px solid #cacaca; }
.box-title img { vertical-align: middle; padding: 0 0.5em; }
.box-content { margin: 0 1em 0 1em; padding: 0; background-color: #ffffff; border: 1px solid #b1b1b1; border-top: 1px solid transparent; border-radius: 0 0 8px 8px; }